@import "http://webfonts.ru/import/arsenal.css";

body {
    height: 100%;
    font: 14px/26px 'Arsenal', sans-serif;
    background-color: #ebebeb;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 24px;
}
input[type="text"], select, button {
    font-family: 'Arsenal', sans-serif;
}
.nav li a {
    font-size: 16px;
}

.logo a,
#touch-menu {
    font-size: 23px;
}

input[type="text"] {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#currency {
    width: 5%;
    float: right;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*background-color: #3e4156;*/
    color: #fff;
    margin: 0;
}

.select-style select {
    padding: 6px 12px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 15px;
}

.val {
    font-size: 22px;
    font-weight: bold;
}

.descr {
    font-size: 18px;
}

.cat, .time {
    font-size: 14px;
    color: #333;
}