@import "../fonts/opensans/opensans.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html {height: 100%;}

body {
    height: 100%;
    font: 14px/26px 'Open Sans', sans-serif;
    background-color: #ebebeb;
}
h1 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}
h2 {
    font-size: 22px;
    margin-bottom: 15px;
}
input[type="text"], select, button {
    font-family: 'Open Sans', sans-serif;
}
.nav li a {
    font-size: 14px;
}

.logo a,
#touch-menu {
    font-size: 20px;
}

input[type="text"] {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#currency {
    width: 5%;
    float: right;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    /*background-color: #3e4156; */
    color: #fff;
    margin: 0;
    width: 100%;
}

.select-style select {
    padding: 6px 12px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 14px;
}

.val {
    font-size: 20px;
    font-weight: bold;
}

.descr {
    font-size: 16px;
}

.cat, .time {
    font-size: 12px;
    color: #333;
}


ol, ul {list-style: none;}
* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {text-decoration: none;}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {clear: both;}

.left {
    float:left;
    width: 50%;
}
.right {
    float:right;
    width: 50%;
    text-align: right;
}
.text-right {text-align: right;}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header, footer {
    position: relative;
    width: 100%;
}

header, .btn, footer {
    background: #19153e; /* #3e4156;*/
}

footer {
    padding: 30px 20px;
    color: #ffffff;
}

.logo {
    float: left;
    font-weight: bold;
}
.nav {float: right;}
.nav li {float: left;}

.logo a,
.nav li a,
#touch-menu {
    display: block;
    padding: 20px;
    color: #fff;
}

#touch-menu {
    margin-bottom: -15px;
}

.nav li:hover,
#touch-menu:hover,
.active,
.btn:focus,
.btn:hover
{background: #515572;}
/* #515572;} */
/* #3e4c74;} */

#touch-menu {display: none;}

#content {
    background: #ffffff;
    padding: 20px;
    height: 100%;
}

@media (max-width: 768px) {
    body {padding-top: 60px}
    h1 {
        font-size: 24px;
        text-align: center;
    }
    h2 { font-size: 20px; }
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .logo img {height: 30px;}
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        z-index: 1000;
    }
    .nav li {
        float: none;
    }
    .nav li a {
        color: #666;
        border-bottom: 1px solid #eee;
        border-left: 3px solid transparent;
        background: #fff;
    }
    .nav li:first-child a {border-top: none;}
    .nav li a:hover {
        color: #333;
        border-left: 3px solid #515572;
        background: #f0f0f0;
    }
    #touch-menu {
        display: block;
        float: right;
        padding: 20px;
    }
}

input[type="text"]:focus, .select-style:focus {
    color: #000000;
    border: 1px solid #515572;
}

#text-money {
    width: 90%;
    float: left;
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}
.col-md-0, .col-md-1, .col-md-2, .col-lg-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7
.col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.col-md-6 {
    float: left;
    text-align: center;
    padding: 0;
}

.col-md-6 a {
    padding: 15px 0;
    color: #000;
}

.activeFilter {
    border-bottom: 3px solid #19153e;
}

.filter {
    margin-top: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    height: 39px;
    /*line-height: 52px;*/
    padding-left: 15px;
}

@media (min-width: 700px) and (max-width: 768px) {
    .col-md-6 {
        width: 27%;
    }
}

@media (max-width: 700px) {
    .col-md-6 {
        width: 33%;
    }
}

.col-md-9, .col-md-10 {
    float: left;
}

.col-md-9 {
    width: 30%;
}

.col-md-10 {
    width: 40%;
    text-align: center;
    line-height: 33px;
}

#pagination {
    margin: 30px auto 0 auto;
    width: 280px;
}

@media (min-width: 992px) {
    .col-md-0, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-8 {
        float: left;
    }
    .col-md-7 {
        float: right;
        width: 20%;
    }
    .col-md-6 {
        margin-right: 40px;
    }
    .col-md-5 {
        width: 60.33333333%;
    }
    .col-md-4 {
        width: 35.33333333%;
    }
    .col-md-3 {
        width: 24%;
    }
    .col-md-2 {
        width: 17%;
    }
    .col-md-1 {
        width: 13.33333%;
    }
    .col-md-0 {
        width: 10.33333%;
    }
    .col-md-8 {
        width: 50%;
        /*margin-left: 1%;*/
        /*margin-right: 1%;*/
    }
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus {
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("../img/arrowdown.gif") no-repeat 95% 50%;
    height: 34px;
}

@media (max-width: 768px) {
    .select-style {
        background: #fff url("../img/arrowdown.gif") no-repeat 99% 50%;
    }
}

@media (max-width: 384px) {
    .select-style {
        background: #fff url("../img/arrowdown.gif") no-repeat 95% 50%;
    }
}

.select-style select:focus {
    outline: none;
}

.btn, .select-style, #money, #description {
    margin-bottom: 10px;
}
#data {
    margin-top: 10px;
}

.transactions {
    max-width: 800px;
    margin: 0 auto;
}

.up {
    color: #24a436;
}
.down {
    color: #c90000;
}

.wrap {
    border-bottom: 1px solid #ccc;
    padding-top: 2px;
    padding-bottom: 25px;
}

.cross {
    font-size: 17px;
}

.cross a {
    text-underline: none;
    color: #000;
}

#timeSelect {
    margin-top: -7px;
}

#timeSelectMobile {
    display: none;
}

@media (max-width: 768px) {
    #timeSelectMobile {
        margin-top: 10px;
        display: block;
    }
    #timeSelect {
        display: none;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    .col-md-6 {
        margin-right: 40px;
    }
    .col-md-7 {
        float: right;
        width: 25%;
    }
    .select-style {
        background: #fff url("../img/arrowdown.gif") no-repeat 99% 50%;
    }
}

.graphs {
    margin-top: 30px;
    display: none;
}

.selectedGraph, .menu-toggle {
    display: block;
}

.none {
    display: none;
}

#graphTitle {
    text-align: center;
    margin-top: 30px;
}

.strike {
    text-decoration: line-through;
}

